# -*- mode: gitignore; -*-
*~
.\#*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
bookmarks

# elpa packages
elpa

# eshell files
eshell/history
eshell/lastdir

# projectile files
projectile-bookmarks.eld
projectile.cache

# irony
irony

# recentf
recentf

# smex mode
smex-items

# anaconda mode
anaconda-mode

# treemacs mode
.cache